<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage39: erkläre, was ein typescript modul ist
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage40">Nächste Frage</button>
    <button routerLink="/frage38" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

typescript datei wird zum modul, wenn auf oberster ebene ein expor/import befehl ist. typescript modul = eine typscript datei, mit eigenem scope. typescript module gibt es erst seit ECMAscript 2015 (es2015).
  wenn man die javascript datei als modul verwenden will muss man dat attribut {{'type="module"'}} beim einbinden der js datei in die index html schreiben.
  außerhalb eines moduls ist nur sichtbar, was mit export gekennzeichnet ist, hierzu gibt es 2 möglichkeiten:

  direkt an der klasse:
  z.B.: export class Dozent {{'{'}} /* ... */ }

  als sammlung:
  export {{'{'}} ding1, ding2, ding3 };
  z.B.: export {{'{'}}Dozent, Professor, Lehrbeauftragter};

  wenn eine typescript datei eine klasse importiert wird sie auch zum modul. Import immer als .js datei, nicht .ts. bsp:
  import {{'{'}} Dozent, Professor, Lehrbeauftragter } from './dozent.js'

  wenn man alle exporte aus einem modul importieren will, benutzt man
  import * as aliasname from "";

  z.B.: import * as dozenten from './dozent.js';

  aufruf: mit aliasname.Klassenname
   Beispiel: let gerten: dozenten.Professor = new dozenten.Professor( /* ... */ );







</pre>


<div style="display: block"></div>
