<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage32: erkläre Duck Typing
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage33">Nächste Frage</button>
    <button routerLink="/frage31" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

Ducktyping bedeutet, dass man einer variable
  let b: T(TypderVariablen) =  z (zugewiesener Wert)
  einen Wert ohne Datentyp / von anderem datentyp zuweisen kann, wenn alle plichtattribute/methoden, die T voraussetzt, in Z vorhanden sind.
  optionale attribute und methoden können weggelassen werden, allerdings dürfen in z keine zusätzlichen attribute und methoden hinzugefügt werden




</pre>


<div style="display: block"></div>
