<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage33: nenne die Unterschiede von Typescript Klassen und Java Klassen
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage34">Nächste Frage</button>
    <button routerLink="/frage32" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

construktor: ist wie in java, allerdings heißt er immer constructor().
  vererbung: wie in Java ist keine mehrfachvererbung möglich, allerdings müssen konstruktoren von unterklassen immer super() aufrufen
interface-implementierung: ist wie in java
  public/protected/private,public ist default, nicht protected wie in java
  protected bezieht sich ausschließlich auf Vererbung, beinhaltet im Gegensatz zu Java nicht die Klassen des selben Moduls sonst wie in Java
  statische Attribute und Methoden: Schlüsselwort static, wie in Java
abstrakte Klassen und Methoden: Schlüsselwort abstract, wie in Java





</pre>


<div style="display: block"></div>
