Frage8: Vorteile von Angular:
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage9">Nächste Frage</button>
    <button routerLink="/frage7" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

Umfrangreiches Layout,
Single Page Application durch Routing,
hohe Performance, ohne nachladen,
Drag&Drop,
asynchroner RESTClient
Rapid Prototyping, Agil,
Typsicherheit durch typescript,
convention over configuration,
komponenten,
dependency injection,
asynchron,
routing

</pre>


<div style="display: block"></div>
