<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage12: nenne alle NICHTelementaren Datentypen von Typescript
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage13">Nächste Frage</button>
    <button routerLink="/frage11" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

Object, Array, Any, Tupel

</pre>


<div style="display: block"></div>
