<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage25: gebe ein Beispiel für einen typecast
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage26">Nächste Frage</button>
    <button routerLink="/frage24" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

let specht:Dozent=new Professor("Thomas", "Specht", "SPE");
  let raum:string=specht.raum; // compilefehler, klasse Dozent hat kein attribut raum, daher typecast notwendig
  let raum2:string=(specht as Professor).raum; //typecast mit as
  let raum3:string=(<>Professor>specht).raum; // funktioniert auch
  let raum4:string=(Professor)specht.raum; //funktioniert NICHT in typescript, nur in zb java



</pre>


<div style="display: block"></div>
