<h1>KAPITEL TYPESCRIPT:</h1>
<br>
Frage14:
Was ist ein Template String?
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage15">Nächste Frage</button>
    <button routerLink="/frage13" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">
  mit Template String kann man Berechnete Ausdrücke, sowie den Wert von Variablen
  in einem String verwenden
  Backquote ` auf Tastatur: Shift-Accent Space
  kann über mehrere Zeilen gehen kann berechnete Ausdrücke (Closures) enthalten


</pre>


<div style="display: block"></div>
