Frage9: Zeichne Grafiken Angularjs (Folie 16), Angular (Folie 17) und Nodejs (Folie 18)
<br>
<br>
<form>
  Deine Lösung: <textarea name="message"style="width:100%; height:200px;"></textarea>
  <br>
  <button type="button" (click)="doit()">Lösung anzeigen</button>
  <br>
  <br>
  <button type="button" (click)="removelsg()">Lösung verbergen</button>
  <p>
    <button routerLink="/frage10">Nächste Frage</button>
    <button routerLink="/frage8" style="margin-left: 10px">Vorherige Frage</button>
    <button routerLink="/frage1" style="margin-left: 10px">Erste Frage</button>
  </p>

</form>
<pre id="lösung" style="display: none">

Blatt papier:
Angular JS: Javascript basiert (JS + ECMA)
Angular: Typescript basiert (ECMA + Typescript)
Nodejs: ECMA basiert (ECMA)

</pre>


<div style="display: block"></div>
